<h1>mango's blog</h1>
<h3>learn all about my favourite fruits</h3>

<% @posts.each do |post| %>
 <div>Post title: <%= post.title %> | <%= link_to "read post", post_path(post) %> | <%= link_to "edit post", edit_post_path(post) %> | <%= link_to "delete post", post_path(post), method: :delete %></div>

 <% end %> 

<div><%= link_to "create a new post", new_post_path %></div>

